<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fileBoxMapper">

	<!-- 프로젝트 목록 조회 -->
	<select id="getProjects" resultType="com.oopsw.model.ProjectVO">
		SELECT
		project_no AS projectNo,
		project_name AS projectName,
		client,
		description
		FROM projects
		WHERE del_date IS NULL
	</select>

	<!-- 파일검색 (부분검색 가능) -->
	<select id="searchFiles" parameterType="String"
		resultType="com.oopsw.model.FileBoxVO">
		SELECT
		c.file_name AS commentFile,
		c.file_path AS commentPath,
		p.project_name AS projectName,
		t.task_name AS taskName,
		t.task_no AS taskNo,
		p.project_no AS projectNo,
		c.del_date AS delDate
		FROM comments c
		JOIN tasks
		t ON c.task_no = t.task_no
		JOIN projects p ON t.project_no =
		p.project_no
		WHERE c.del_date IS NULL
		AND t.del_date IS
		NULL
		AND
		p.del_date IS NULL
		AND c.file_name LIKE '%' || #{searchKeyword} || '%' UNION ALL 
		SELECT
		r.file_name AS replyFile,
		r.file_path AS replyPath,
		p.project_name AS projectName,
		t.task_name AS taskName,
		t.task_no AS taskNo,
		p.project_no AS projectNo,
		r.del_date AS delDate
		FROM replies r JOIN comments c2 ON r.comment_no = c2.comment_no
		JOIN tasks t ON
		c2.task_no =
		t.task_no
		JOIN projects p ON t.project_no = p.project_no
		WHERE
		r.del_date IS NULL
		AND c2.del_date IS NULL
		AND t.del_date IS NULL
		AND
		p.del_date IS NULL
		AND r.file_name LIKE '%' || #{searchKeyword} || '%'
	</select>


    <!-- 프로젝트 이름과 프로젝트 내 업무별 파일 갯수 조회 -->
    <select id="getProjectNameTaskFileCount" parameterType="int"
        resultType="com.oopsw.model.FileBoxVO">
        SELECT
            t.task_no AS taskNo,
            t.task_name AS taskName,
            COUNT(c.file_name) + COUNT(r.file_name) AS totalFileCount
        FROM tasks t
        JOIN comments c ON c.task_no = t.task_no
        JOIN replies r ON r.comment_no = c.comment_no AND r.file_name IS NOT NULL
        WHERE t.project_no = #{projectNo}
        GROUP BY t.task_no, t.task_name
        ORDER BY t.task_no
    </select>

    <!-- 한 업무 내 파일 목록 조회 -->
    <select id="getTaskFiles" parameterType="int"
        resultType="com.oopsw.model.FileBoxVO">
        SELECT
            t.task_no AS taskNo,
            c.comment_no AS commentNo,
            c.file_name AS commentFile,
            c.file_path AS commentPath,
            r.reply_no AS replyNo,
            r.file_name AS replyFile,
            r.file_path AS replyPath
        FROM tasks t
        LEFT JOIN comments c ON t.task_no = c.task_no
        LEFT JOIN replies r ON c.comment_no = r.comment_no
        WHERE t.task_no = #{taskNo}
    </select>
</mapper>