<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scheduleMapper">

	<!-- 일정관리dot객체 데이터 불러오기 -->
	<select id="getDotSchedule" parameterType="String"
		resultType="com.oopsw.model.ScheduleVO">
		SELECT
		schedule_no AS scheduleNo,
		employee_id AS employeeId,
		schedule_date AS scheduleDate,
		schedule_type AS scheduleType,
		title,
		start_time AS startTime,
		end_time AS endTime
		FROM schedules
		WHERE
		employee_id = #{employeeId}
	</select>

	<!-- 일정 추가 -->
	<insert id="addSchedule" parameterType="com.oopsw.model.ScheduleVO">
		INSERT INTO schedules (
		schedule_no,
		employee_id,
		schedule_date,
		schedule_type,
		title,
		start_time,
		end_time
		) VALUES (
		schedules_seq.NEXTVAL,
		#{employeeId},
		#{scheduleDate},
		#{scheduleType},
		#{title},
		#{startTime},
		#{endTime}
		)
	</insert>

	<!-- 일정관리 삭제 -->
	<delete id="deleteSchedule" parameterType="int">
		DELETE FROM schedules
		WHERE schedule_no = #{scheduleNo}
	</delete>


	<!-- 일정관리 수정 -->
	<update id="updateSchedule" parameterType="com.oopsw.model.ScheduleVO">
		UPDATE schedules
		SET
		schedule_date = #{scheduleDate},
		schedule_type = #{scheduleType},
		title
		= #{title},
		start_time = #{startTime},
		end_time = #{endTime}
		WHERE
		schedule_no = #{scheduleNo}
		AND employee_id = #{employeeId}
	</update>

</mapper>